body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center-wrapper{
  margin: 5%;
}

.title {
  font-size: 3rem;
  padding-top: 1%;
  padding-left: 2%;
  text-decoration: none;
  color: black;

}
.title:hover {
  color: rgb(72, 72, 95);
}